* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; 
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    min-height: 5vh;
}

.link {
    text-decoration: none;
    font-family: mySecondFont;
    color: rgb(38, 62, 111);
    font-size: 1rem;
    margin: 1rem;
}

.link:hover {
    opacity: 0.3;
}

@font-face {
    font-family: mySecondFont;
    src: url(/docs/font/YoungSerif-Regular.ttf);
}

.header {
    background-image: url(/docs/images/hero-image.png);
    min-height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@font-face {
    font-family: myFirstFont;
    src: url(/docs/font/TSUMUGI-Regular.otf);
}
 
.header-text {
    color: white;
    font-family: myFirstFont;
    align-items: center;
    margin: 1rem;
    font-size: 100px;
}

.header-text-two {
    font-size: 0.9rem;
    color: white;
    font-family: mySecondFont;
}

.social {
    margin: 1rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.icon {
    margin: 1rem;

}

.icon:hover {
    opacity: 0.8;
}

.about {
    display: flex;
    flex-direction: row;
}

 .about-hero {
    height: 100vh;
    width: 50vw;
    background-color: #EEF0E9;
    position: relative;
    display: flex;
    flex-direction: column;
}

.about-img {
    background-image: url(/docs/images/jake.jpg);
    height:100vh;
    width: 50vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}