* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; 
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    min-height: 5vh;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.link {
    text-decoration: none;
    font-family: mySecondFont;
    color: rgb(38, 62, 111);
    font-size: 1rem;
    margin: 1rem;
}

.link:hover {
    opacity: 0.3;
}

@font-face {
    font-family: mySecondFont;
    src: url(./assets/font/MavenPro-VariableFont_wght.ttf);
}

.header {
    background-image: url(./assets/hero-image.png);
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: myFirstFont;
    src: url(./assets/font/TSUMUGI-Regular.otf);
}
 
.header-text {
    color: white;
    font-family: myFirstFont;
    margin: 1rem;
    font-size: 6rem;
}

.header-text-two {
    font-size: 0.9rem;
    color: white;
    font-family: mySecondFont;
}

.social {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 1rem;
}

.icon:hover {
    opacity: 0.8;
}

 .about-hero {
    height: 100%;
    width: 100%;
    background-image: url(./assets/about-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: mySecondFont;
}

.intro {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.intro-heading {
    font-family: myFirstFont;
    font-size: 3rem;
    margin: 1rem;
    overflow: hidden;
}

.jake, .intro-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem;
    text-align: center;
}

.jake {
    max-width: 100%;
    width: 500px; 
    height: auto;
}

.bio {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem;
}

.bio-heading {
    font-family: myFirstFont;
    font-size: 3rem;
    margin: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.list-heading {
    display: flex;
    justify-content: center;
}

.bio-text, .intro-text, .hobby-text {
    font-size: 1rem;
}

.hobby {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    flex-direction: column;
    text-align: center;
}

.hobby-heading {
    font-family: myFirstFont;
    font-size: 3rem;
    margin: 1rem;
    overflow: hidden;
    
}

.arcade {
    max-width: 100%;
    height: auto; 
    width: 500px;
}

.arcade, .hobby-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem;
}


@media only screen and (max-width:600px) {
     .jake {
        width: 100%;
    }

    .cat {
        width: 100%;
    }

    .arcade {
        width: 100%;
    }
}


.blog-hero {
    height: 100%;
    width: 100%;
    background-image: url(./assets/blog-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: mySecondFont;
}

.blog-one {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.blog-heading {
    font-family: myFirstFont;
    font-size: 3rem;
    margin: 1rem;
    overflow: hidden;
}

.image, .blog-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem;
    text-align: center;
}

.image {
    max-width: 100%;
    width: 500px; 
    height: auto;
}

.blog-two {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}


.blog-three {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    flex-direction: column;
}


.blog-four {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    flex-direction: column;
}

.blog-five {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    flex-direction: column;
}


.content-hero {
    height: 100vh;
    width: 100%;
    background-image: url(./assets/contact-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: mySecondFont;
}

.content {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.content-heading {
    font-family: myFirstFont;
    font-size: 4rem;
    margin: 1rem;
    overflow: hidden;
}

.image, .contact-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    font-family: mySecondFont;
}

.image {
    max-width: 100%;
    width: 500px; 
    height: auto;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 500px) {
    .contact-links{
        flex-direction: column;
    }
}


