* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; 
    overflow: hidden;
}

/* Navigation component that is applied to each page at a fixed position,
so that it will stick with the user as they scroll through the page */

.navbar {
    display: flex;
    justify-content: space-evenly;
    min-height: 5vh;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.link {
    text-decoration: none;
    font-family: mySecondFont;
    color: rgb(38, 62, 111);
    font-size: 1rem;
    margin: 1rem;
}

.link:hover {
    opacity: 0.3;
}

@font-face {
    font-family: mySecondFont;
    src: url(./assets/font/MavenPro-VariableFont_wght.ttf);
}

/* hero component with a background image and styling */

.header {
    background-image: url(./assets/hero-image.png);
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: myFirstFont;
    src: url(./assets/font/TSUMUGI-Regular.otf);
}
 
.header-text {
    color: white;
    font-family: myFirstFont;
    margin: 1rem;
    font-size: 6rem;
}

.header-text-two {
    font-size: 0.9rem;
    color: white;
    font-family: mySecondFont;
}

/* Footer component for the homepage so the user can easily access my socials */

.social {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0.8rem;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: mySecondFont;
    margin-top: 0.2rem;
}

.icon {
    margin: 1rem;
}

.icon:hover {
    opacity: 0.8;
}

 .about-hero {
    height: 100%;
    width: 100%;
    background-image: url(./assets/about-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: mySecondFont;
}

/* component for each section of my about page */

.intro, .hobby, .bio {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
}

.intro-heading, .bio-heading, .hobby-heading {
    font-family: myFirstFont;
    font-size: 3rem;
    margin: 1rem;
    overflow: hidden;
}

/* text component */
 
.jake, .intro-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem;
    text-align: center;
}

/* image component for my introduction */

.jake {
    max-width: 100%;
    width: 500px; 
    height: auto;
}

.work-study-list {
    list-style-position: inside;
}

.list-heading {
    display: flex;
    justify-content: center;
}

.bio-text, .intro-text, .hobby-text {
    font-size: 1rem;
}

/* image component for my hobby container */

.arcade {
    max-width: 100%;
    height: auto; 
    width: 500px;
}

/* text component for hobby container */

.arcade, .hobby-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem;
}

/* media breakpoint so that it's responsive for mobile */

@media only screen and (max-width:600px) {
     .jake {
        width: 100%;
    }

    .cat {
        width: 100%;
    }

    .arcade {
        width: 100%;
    }
}


.blog-hero {
    height: 100%;
    width: 100%;
    background-image: url(./assets/blog-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: mySecondFont;
}

/* blog component containing a blog post, each blog post has their own */

.blog-one {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.blog-heading {
    font-family: myFirstFont;
    font-size: 3rem;
    margin: 1rem;
    overflow: hidden;
}

.image, .blog-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem;
    text-align: center;
}

/* image component for each blog post, there are five images in total */

.image {
    max-width: 100%;
    width: 500px; 
    height: auto;
}

.blog-two {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}


.blog-three {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    flex-direction: column;
}


.blog-four {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    flex-direction: column;
}

.blog-five {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    flex-direction: column;
}


.content-hero {
    height: 100vh;
    width: 100%;
    background-image: url(./assets/contact-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: mySecondFont;
}

.content {
    background-color: rgba(188, 188, 188, 0.3);
    border-radius: 1%;
    overflow: hidden;
    padding: 1rem;
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.content-heading {
    font-family: myFirstFont;
    font-size: 4rem;
    margin: 1rem;
    overflow: hidden;
}

.image, .contact-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    font-family: mySecondFont;
}


.image {
    max-width: 100%;
    width: 500px; 
    height: auto;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 500px) {
    .contact-links{
        flex-direction: column;
    }
}


